<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Concent article</title>
    </head>
    <body>
        <div>
            <h1><a href="">Concent</a></h1>
        </div>

        {% for article in articles %}
		<div>
			<p>published: {{ article.published_date }}</p>
			<h1><a href="">{{ article.title }}</a></h1>
			<p>{{ article.text|linebreaks }}</p>
		</div>
		{% endfor %}
    </body>
</html>